/*Custom CSS*/

h2, h2 a, h3 {
	/*Orange*/
	color: rgb(255, 169, 33);
	font-family: 'Michroma', sans-serif;
	font-weight: bold;
}
h1, h4, h5 {
	color: rgb(29, 88, 166); /*Blue*/
	font-family: 'Michroma', sans-serif;	
	font-weight: bold;	
}

p {
	font-family: 'Railway', sans-serif;
}

.panel-index {
  height: 230px;S
}
.panel-heading-index {
  height: 90px;
}
.btn-down-index{
	margin-top: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .unity-margin{
 	margin-top: 50px;
 }