/*Custom CSS*/

h2, h2 a, h3, .jumbo {
	/*Orange*/
	color: rgb(255, 169, 33);
	font-family: 'Michroma', sans-serif;
	font-weight: bold;
}
h1, h4, h5, .faq {
	color: rgb(29, 88, 166); /*Blue*/
	font-family: 'Michroma', sans-serif;	
	font-weight: bold;	
}

p {
	font-family: 'Railway', sans-serif;
}

.panel-index {
  height: 230px;
}
.panel-heading-index {
  height: 90px;
}
.btn-down-index{
	margin-top: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .unity-margin{
 	margin-top: 50px;
 }
 
 .navbar-magic:hover{
    color: rgb(255, 169, 33);
	font-family: 'Michroma', sans-serif;
	font-weight: bold;
 }
 
 #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }   
    
.user{
    width: 32px;
    height: 32px;
}